<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/thphr16/Mathinterpreteer"
			class = "org.xtext.thphr16.mathinterpreteer.MathinterpreteerPackage"
			genModel = "model/generated/Mathinterpreteer.genmodel" />
	</extension>
</plugin>
